[user]
	email = tarzaltreda@gmail.com
	name = redat97
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
[credential]
	helper = !/usr/bin/gh auth git-credential
[alias]
    undo = reset --soft HEAD^
	ac = !git add . && git commit -m
	c = commit -m
    co = checkout
	cob = checkout -b
	rl =

	# list aliases
    la = "!git config -l | grep alias | cut -c 7-"
